footer {
    border-top: 1px solid rgb(95, 91, 91);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    ul {
        align-items: center;
        justify-content: center;
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .logo {
        display: flex;
        align-items: center;

    }
    .lex {
        color: #939393;
        
    }
}